/* StylesPoke.css */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c43df9e9-7cf9-486f-b650-624a47790895/dfn4v02-2e97acdb-376c-4f7b-b8b7-1dcc362b7c6e.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2M0M2RmOWU5LTdjZjktNDg2Zi1iNjUwLTYyNGE0Nzc5MDg5NVwvZGZuNHYwMi0yZTk3YWNkYi0zNzZjLTRmN2ItYjhiNy0xZGNjMzYyYjdjNmUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.3vOg9-EoexlcN0kA5jW_VdReoSizvLvAjVdqebLcVgk);
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h4 {
  color: #333;
}

label {
  font-weight: bold;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para badge */
.badge {
  font-size: 0.75rem;
  font-weight: normal;
  color: #fff;
  background-color: #6c757d;
  padding: 3px 6px;
  margin-left: 5px;
  border-radius: 4px;
}

#ConteinerCard{
  text-align: center;
  color: #BA2D0B;
  

}
